

mixin bubble-include(occasional_message, speaker_name, bubble_image_src)
    //- console.log('Including bubble.js verbatim as some crazy person did here: https://github.com/pugjs/pug/blob/master/packages/pug/examples/dynamicscript.pug')

    //- h1 Mixin BubbleInclude
    //- p occasional_message: #{occasional_message}

    //- TODO automatic FaceDetection :) https://www.edopedia.com/blog/javascript-face-detection-and-recognition-libraries/
    table(border='0', style='valign=center', class='bubble-table-possibly-centered')
      tr
        td
          div#riccardo_id.bubble
            div.bubble__inner.
              <span class='occasional_message'><b>!{occasional_message}</b><br/>
              <i>-- #{speaker_name}</i>
              </span>
      tr
        td
          img(src=bubble_image_src, height='300')
    //- p DEBUG: occasional_message on PRE normally and
    //- pre #{occasional_message}
    //- p and now:as is https://stackoverflow.com/questions/11191421/rendering-html-in-variable-using-jade
    //- pre AAA !{occasional_message}" BBB
    //- p inviisble
