extends layout

block content
  h1= "#{appname} title"
  h1= title

  p Welcome to #{title}.
    span This code is in here:
      tt app/views/index.pug
    span and i cant seem to be able to say appname= #{appname}
      b  #{appname}
  h2= "ENV vars"
  //p ENV=#{ENV}
  //p OCCASIONAL_MESSAGE=#{OCCASIONAL_MESSAGE}
  - var listOfEnvVars = ["OCCASIONAL_MESSAGE", "NODE_ENV", "USER", "env", "PORT", "MY_SECRET_KEY", 'GOOGLE_KEY']
  p List of ENV vars:
  each item in listOfEnvVars
    li= item
      span =#{process.env.item}
  h3 dotenv
  //- p dotenv #{dotenv}
  //- p dotenvExpand #{dotenvExpand}
  //- p dotenvConfig #{dotenvConfig}
  //- p process.env #{process.env}
  for v,k in process.env
    if listOfEnvVars.includes(k)
      li= k
        span =
        b #{v}

  h2= 'About Express and Pug'
  p Riccardo: when you can continue, continue from here:
    a(href="https://expressjs.com/en/starter/basic-routing.html") expressjs basic routing
    a(href="https://pugjs.org/language/includes.html") Pug Cheatsheet

  // iteration https://pugjs.org/language/iteration.html

  ul
  each val in [1, 2, 3, 4, 5]
    li= val

  - var list = ["Uno", "Dos", "Tres", "Cuatro", "Cinco", "Seis"]
  each item in list
    li= item

