extends layout

include includes/bubble.pug

block content
  // pug cheatsheet: https://devhints.io/pug
  h1= title
  //- h2 #{app_name} #{title} 😏
  h2 #{app_name} 😏
  //.h3= `${app_name} ${title} 😏 - with backquotes IT WORKS!`

  p Welcome to #{title}.
    //- span 'This code is in here: '
    //-   tt app/views/index.pug
    //- span and i cant seem to be able to say appname=
    //-   b  #{app_name}

  h2 Bubble
  p I dreamed about showing you a generic bubble loading text from ENV and calling it
    tt ricc_says
    span for the last 2 years. Now this dream is finally reality
  +bubble-include(occasional_message, speaker_name, bubble_image_src, 0)

  h2= "ENV vars"
  //p ENV=#{ENV}
  //p OCCASIONAL_MESSAGE=#{OCCASIONAL_MESSAGE}
  //- var listOfEnvVars = ["OCCASIONAL_MESSAGE", "DEPLOY_TARGET", "TEST_DB_PASS", "HOSTNAME", "LAUNCHING_HOSTNAME", "NODE_ENV", "USER", "env", "PORT", "MY_SECRET_KEY", 'GOOGLE_KEY']
  //- p List of ENV vars:
  //- each item in listOfEnvVars
  //-   li= item
  //-     span =#{process.env.item}
  p with dotenv cos I'm unable to do the rubyist
    tt process.env.send(env_varname)
    span .. so instead I iterate thru dotenv ENV vars and i check if its in my group of friends:
  //- p dotenv #{dotenv}
  //- p dotenvExpand #{dotenvExpand}
  //- p dotenvConfig #{dotenvConfig}
  //- p process.env #{process.env}
  // .sort()
  //- h3 done poorly
  //- for v,k in process.env
  //-   if listOfEnvVars.includes(k)
  //-     li= k
  //-       span =
  //-       b #{v}
  h3 Done well: See it. Say it. Sort()ed
  for key in listOfEnvVars.sort()
      //b #{process.env[key]}
      li= key
        span =
        b #{process.env[key]}
  h2= 'About Express and Pug'
  p Riccardo: when you can continue, continue from here:
    a(href="https://expressjs.com/en/starter/basic-routing.html") 🔗 expressjs basic routing
    span and
    a(href="https://pugjs.org/language/includes.html") 🔗 Pug Cheatsheet

  //- iteration https://pugjs.org/language/iteration.html

  //- h3= 'Bubble test'
  //- p see
  //-   a(href='/bubble') /bubble
